header {
  display: flex;
  justify-content: center
}

nav#main {
  position: fixed;
  display: flex;
  z-index: 999;
  justify-content: center;
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.5);
}

nav#main ul {
  width: 100%;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav#main li {
  align-items: center;
  width: 150px;
}

nav#main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
